/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}
.loader img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  margin: 10px 30%;
}
.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* media query: Large Smartphones */
@media screen and (max-width: 600px ){
  h1 {
    font-size: 1.2rem;
  }
  .image-container {
    margin: 10px;
  }
}